@{
    ViewBag.Title = "مدیریت امتیازات";
}

<fieldset class="filter-box">
    <legend>
        <a class="filter-header">
            <i class="open-icon icon icon-plus-sign"></i>
            <span>جستجو</span>
        </a>
    </legend>
    <div class="control-box">
        <div class="row form-group">
            <select id="ScoreCommentStatus" class="form-control col-sm-2">
                <option value="-1">وضعیت</option>
                <option value="0">چک نشده</option>
                <option value="1">رد شده</option>
                <option value="2">تایید شده</option>
            </select>
            <a id="btnSearch" class="btn btn-info"><i class="icon-search"></i></a>
        </div>
    </div>
</fieldset>

@Html.Partial("_GridView", new GridViewSettings()
   {
       ControllerName = "ScoreComments",
       ShowAdd = false,
       Selectable = true,
       CustomAjax = true,
       Columns = new List<Column>(){

                                new Column() {
                                    Title = "نام",
                                    DataField = "UserFullName"
                                },

                                new Column() {
                                    Title = "توضیحات",
                                    DataField = "Text"
                                },

                                new Column() {
                                    Title = "وضعیت",
                                    DataField = "fromScoreCommentStatus(ScoreCommentStatus)"
                                },

                                new Column() {
                                    Title = "آخرین ویرایش",
                                    DataField = "fromNow(LastUpdate)"
                                }
    }
   })

@section Scripts {
    <script type="text/javascript">
        var $scoreCommentStatus = $('#ScoreCommentStatus');

        jConfigGrid.init({
            ajaxUrl: '/Admin/ScoreComments/',
            customAjaxUrl: '/Admin/ScoreComments/Confirm',
            filter: function () {
                return {
                    ProductID: @(ViewBag.ProductID == null ? "null" : ViewBag.ProductID),
                    ScoreCommentStatus:$scoreCommentStatus.val()
                };
            },
            customAjaxSuccess: function () {
                jConfigGrid.refresh();
                alert('اطلاعات با موفقیت ثبت شد.');
            },
            customAjaxError: function () {
                alert('رخداد خطا');
            }
        });
    </script>
}
