<div class="messages-body">
    <div class="alert alert-block alert-danger hide">
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="icon-remove"></i>
        </button>
        <ul class="message-pane"></ul>

    </div>
    <div class="alert alert-success hide">
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="icon-remove"></i>
        </button>
        <span class="message-pane"></span>
    </div>
</div>