/*border*/
.pngs {
  background-image: url(/images/Template/pngs.png?v=1.4); }

.employment-box {
  font-size: 14px;
  line-height: 30px;
  color: #263238; }
  .employment-box .employment-form {
    padding: 10px;
    margin-left: 10px;
    background-color: #fff; }
    .employment-box .employment-form .box-header.box-header-01 {
      height: 40px; }
    .employment-box .employment-form .radio {
      display: inline-block; }
      .employment-box .employment-form .radio label {
        height: 0;
        line-height: 0;
        vertical-align: middle; }
  .employment-box .left-column .small-box {
    margin-top: 0; }

/*(max-width: 480px)*/
@media only screen and (max-width: 479px) {
  .left-column {
    margin-top: 10px; } }

/*(min-width: 480px) and (max-width: 595px)*/
@media only screen and (min-width: 480px) and (max-width: 599px) {
  .left-column {
    margin-top: 10px; } }

/*(min-width: 595px) and (max-width: 690px)*/
@media only screen and (min-width: 595px) and (max-width: 689px) {
  .left-column {
    margin-top: 10px; } }

/*(min-width: 690px) and (max-width: 960px)*/
@media only screen and (min-width: 690px) and (max-width: 959px) {
  .left-column {
    margin-top: 10px; } }

