/*border*/
.pngs {
  background-image: url(/images/Template/pngs.png?v=1.4); }

.producer-details-box {
  background-color: #fff;
  color: #263238;
  font-size: 14px;
  line-height: 30px;
  padding: 10px; }
  .producer-details-box .producer-image {
    float: right;
    padding: 10px; }
  .producer-details-box .box-header {
    margin-top: 45px; }
    .producer-details-box .box-header h2 {
      font-size: 18px;
      color: #37474f; }
      .producer-details-box .box-header h2:before {
        font-family: FontAwesome;
        content: '\f0d9';
        margin-left: 5px;
        color: #ff3d00;
        vertical-align: top; }
  .producer-details-box .box-content .groups a {
    color: #546e7a; }
    .producer-details-box .box-content .groups a:hover {
      color: #ff3d00; }
  .producer-details-box .box-content .groups span {
    color: #90a4ae;
    display: inline-block; }

