/*border*/
.pngs {
  background-image: url(/images/Template/pngs.png?v=1.4); }

.track-order-box {
  background-color: #fff;
  margin-left: 10px;
  padding: 10px;
  font-size: 14px;
  line-height: 30px;
  color: #263238; }
  .track-order-box .track-order-form {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    position: relative; }
    .track-order-box .track-order-form .loading {
      position: absolute;
      background-color: #fff;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      z-index: 9999; }
      .track-order-box .track-order-form .loading img {
        position: absolute;
        right: 50%;
        top: 50%;
        margin-right: -16px;
        margin-top: -16px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 32px;
        height: auto; }
    .track-order-box .track-order-form .label-salereferenceid {
      width: 100%;
      color: #37474f; }
    .track-order-box .track-order-form input[type="text"] {
      vertical-align: top;
      height: 38px; }

