<form id="AddRequestForm" class="validate add-request-form" method="post">
    <div class="modal-body">
        <div class="row">
            <label for="REmail">ایمیل:</label>
            <input type="text" id="REmail" class="req-email">
        </div>
        <div class="row">
            <label for="RMobile">شماره همراه:</label>
            <input type="text" id="RMobile" class="req-mobile">
        </div>
        <div class="row">
            <label for="RDescription">توضیحات:</label>
            <textarea id="RDescription" class="req-description"></textarea>
        </div>
        <button type="submit" class="btn-submit btn-send-request">ارسال</button>
    </div>
</form>
