<form id="SendFriendForm" class="validate ajax send-friend-form" method="post" >
    <div class="modal-body">
        <div class="row">
            <label for="FriendEmail">ایمیل دوست شما:</label>
            <input type="text" id="FriendEmail">
        </div>
        <div class="row">
            <label for="Message">متن پیام:</label>
            <textarea id="Message"></textarea>
        </div>
        <button type="button" class="btn-submit btn-send-friend">ارسال</button>
    </div>
</form>
