<h3>
    <span>پرسش شما:</span>
</h3>
<form id="SendQuestion" class="validate ajax form" method="post">
    <div class="row">
        <input id="Questioner" name="Questioner" type="text" placeholder="نام و نام خانوادگی" class="form-control input-md required" maxlength="50">
    </div>
    <div class="row">
        <textarea id="Question" name="Question" rows="5" placeholder="پرسش شما" class="form-control required"></textarea>
    </div>
    <div class="row">
        <button class="btn btn-submit" type="submit">ارسال</button>
    </div>
</form>

