<div class="toolbar hide">
    <div class="sorter">
        <p class="view-mode">
            <label>نحوه نمایش:</label>
            <strong class="grid" title="Grid">جدولی</strong>&nbsp;
            <a class="list" title="List" href="#">لیستی</a>&nbsp;
        </p>
    </div><!-- /.sorter -->
    <div class="pager">
        <div class="sort-by hidden-xs">
            <label>مرتب سازی براساس:</label>
            <select class="form-control input-sm">
                <option selected="selected">موقعیت</option>
                <option>نام</option>
                <option>قیمت</option>
            </select>
            <a title="Set Descending Direction" href="#"><span class="fa fa-sort-amount-desc"></span></a>
        </div>
        <div class="limiter hidden-xs">
            <label>تعداد در صفحه:</label>
            <div class="limiter-inner">
                <select class="form-control input-sm">
                    <option>9</option>
                    <option selected="selected">12</option>
                    <option>24</option>
                    <option>36</option>
                </select>
            </div>
        </div>
    </div><!-- /.pager -->
</div><!-- /.toolbar -->