@{
    ViewBag.Title = "مدیریت متقاضیان استخدام";
}

<fieldset class="filter-box">
    <legend>
        <a class="filter-header">
            <i class="open-icon icon icon-plus-sign"></i>
            <span>جستجو</span>
        </a>
    </legend>
    <div class="control-box">
        <div class="row form-group">
            <input type="text" id="Name" class="form-control col-sm-2" placeholder="نام و نام خانوادگی..." />
            <a id="btnSearch" class="btn btn-info"><i class="icon-search"></i></a>
        </div>
    </div>
</fieldset>

@Html.Partial("_GridView", new GridViewSettings()
{
    ControllerName = "Employments",
    ShowAdd = false,
    Columns = new List<Column>(){

                                new Column() {
                                    Title = "نام",
                                    DataField = "FirstName"
                                },
                                  new Column() {
                                    Title = "نام خانوادگی",
                                    DataField = "LastName"
                                },
                                new Column() {
                                    Title = "وضعیت",
                                    DataField = "fromEmploymentStatus(EmploymentStatus)"
                                },
                                new Column() {
                                    Title = "تاریخ درخواست",
                                    DataField = "toPersianDate(DateTime)"
                                },
                                new Column() {
                                    Title = "آخرین ویرایش",
                                    DataField = "fromNow(LastUpdate)"
                                }
    }
})

@section Scripts {
    <script type="text/javascript">
        var $name = $('#Name');

        jConfigGrid.init({
            ajaxUrl: '/Admin/Employments/',
            filter: function () {
                return {
                    Name: $name.val()
                }
            }
        });
    </script>
}
