@import "mixins";

.post-list {
    ul {
        li {
            background-color: #fff;
            padding: 10px;
            font-size: 14px;
            color: $black_0;
            margin: 0 10px 15px 0;

            &:first-child {
            }

            h1 {
                font-size: 16px;

                a {
                    line-height: 25px;

                    &:hover {
                        color: $color;
                    }
                }
            }

            ul.icons {
                margin: {
                    top: 10px;
                    bottom: 15px;
                }

                width: 315px;
                height: 45px;

                li {
                    float: right;
                    margin: 0;

                    i {
                        margin-left: 15px;
                        color: $black_4;
                    }

                    a,
                    span {
                        font-size: 11px;
                        display: inline-block;
                        color: $black_4;
                    }
                }
            }

            .post-content {
                border-top: solid 1px $black_8;
                padding-top: 20px;

                .img-link {
                    float: right;
                    display: inline-block;

                    margin: {
                        left: 20px;
                    }
                }

                .text {
                    line-height: 30px;
                    padding-right: 10px;
                }

                .bottom {
                    margin-top: 20px;
                    position: relative;
                }
            }
        }
    }
}

/*(max-width: 480px)*/
@include breakpoint('MobilePortrait') {
    .content-column {
        margin-top: 10px;
    }
}
/*(min-width: 480px) and (max-width: 595px)*/
@include breakpoint('MobileLandscape') {
    .content-column {
        margin-top: 10px;
    }
}

/*(min-width: 595px) and (max-width: 690px)*/
@include breakpoint('SmallTabletPortrait') {
    .content-column {
        margin-top: 10px;
    }
}

/*(min-width: 690px) and (max-width: 960px)*/
@include breakpoint('TabletPortrait') {
    .content-column {
        margin-top: 10px;
    }
}
