@import "mixins";

.track-order-box {
    background-color: #fff;
    margin-left: 10px;
    padding: 10px;
    font-size: 14px;
    line-height: 30px;
    color: $black_0;

    .track-order-form {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        position: relative;
        @include full-loading();

        .label-salereferenceid {
            width: 100%;
            color: $black_1;
        }

        input[type="text"] {
            vertical-align: top;
            height: 38px;
        }
    }
}
