/*border*/
.pngs {
  background-image: url(/images/Template/pngs.png?v=1.4); }

.my-tasks .icon-check,
.my-tasks .icon-calendar {
  color: #5cb85c;
  font-size: 20px;
  display: inline-block; }
  .my-tasks .icon-check:hover,
  .my-tasks .icon-calendar:hover {
    color: #449D44; }

.my-tasks a {
  color: #797979; }
  .my-tasks a:hover {
    color: #337ab7; }

.set-task-date {
  position: relative; }
  .set-task-date .loading {
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 9999; }
    .set-task-date .loading img {
      position: absolute;
      right: 50%;
      top: 50%;
      margin-right: -16px;
      margin-top: -16px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 32px;
      height: auto; }
  .set-task-date .label {
    font-family: 'WYekan'; }

