.product-stored-box .result-box li {
  position: relative;
  float: right;
  text-align: center;
  width: 200px;
  background-color: #eceff1;
  margin: 5px;
  padding: 10px;
  padding-bottom: 5px; }
  .product-stored-box .result-box li .title-box a {
    margin-bottom: 5px;
    color: #263238;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .product-stored-box .result-box li .title-box a:hover {
      color: #ff3d00; }
  .product-stored-box .result-box li .index {
    position: absolute;
    color: #fff;
    background-color: #ff3d00;
    text-align: center;
    line-height: 32px;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 9999; }
  .product-stored-box .result-box li .order-sum {
    direction: ltr;
    height: 50px; }
  .product-stored-box .result-box li .order-box {
    color: #90a4ae; }
    .product-stored-box .result-box li .order-box p {
      margin: 0; }
  .product-stored-box .result-box li .img-box {
    margin-bottom: 5px; }
    .product-stored-box .result-box li .img-box img {
      width: 180px;
      height: 200px; }
  .product-stored-box .result-box li input {
    width: 100px;
    text-align: center;
    font-size: 15px;
    margin: 5px auto; }
    .product-stored-box .result-box li input:focus {
      background-color: #f7f1ce; }

.product-stored-box .icon-refresh {
  color: #069a19;
  font-size: 20px;
  margin-right: 45px; }

