body {
    direction: rtl;
}

select.error,
textarea.error,
input.error {
    border-color: #db4c4a !important;
    background: #f2dede !important;

    &:focus {
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 108, 96,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 108, 96,.6);
    }
}

label.error {
    color: #AAA0A0;
    margin-top: 4px;
}

.loading {
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 9999;

    img {
        position: absolute;
        right: 50%;
        top: 50%;
        margin-right: -16px;
        margin-top: -16px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
}

.state-overview {
    .panel {
        background-color: #F2F2F2;

        h1 {
            color: #1b1b1b;
        }

        p {
            color: #636363;
        }
    }
}

.jPageSize {
    font-size: 11px;
    font-weight: normal;
}

.radio label, .checkbox label {
    padding-right: 10px;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
    vertical-align: middle;
}

.popover {
    font-family: yekan,Tahoma,'Open Sans', sans-serif;
}

select.form-control {
    height: 45px;
}

.notification {
    .label {
        margin-left: 4px;
    }

    span.small {
        color: gray;
        padding: 4px;
    }
}

.aciTree {
    .aciTreeText {
        font-weight: normal;
    }
}

.tab-content {
    margin-top: 10px;
}

.productPointitem,
.editproductimage,
.editproductfile {
    .row {
        margin-top: 10px;
    }

    .btn-danger {
        margin-top: 10px;
    }

    .btn-upload {
        height: 45px;
        width: 100%;
    }

    hr {
        margin: 10px 0;
    }

    input[type="text"] {
        height: 45px;
    }
}

.form-control {
    height: 40px;
    line-height: 35px;
}

textarea.summary {
    height: 200px;
}

.addtovarients {
    float: left;
    margin: 0;
}

#btnSearch {
    line-height: 1.8;
}

#ProductAttributes {
    legend {
        margin: 10px 0;
    }

    hr {
        margin: 10px 0;
    }

    .bg-info {
        padding: 5px;
    }
}

.productPointitem {
    .point {
        height: 40px;
    }
}

.reference {
    #Username {
        height: 40px;
        margin-right: 10px;
    }

    #btnReference {
        margin-right: 5px;
        padding-bottom: 11px;
    }
}

/* Product Attributes */

.group-box {
    .attrs-box {
        display: none;
    }

    legend {
        margin-bottom: 0;
        border: 0;
    }

    .group-link {
        cursor: pointer;
        color: #797979;

        span {
            margin-right: 10px;
        }

        i {
            color: #86b140;
        }
    }
}

.productNoteitem {
    textarea.note {
        margin-top: 5px;
    }
}

.note-item {
    border-bottom: dashed 1px;

    .writer {
        padding: 10px 0;
        margin: 0;

        .icon-pencil {
            margin-left: 5px;
        }
    }

    .write-date {
        color: #337ab7;
        float: left;
        padding: 10px 0;
        font-size: 11px;
    }
}

.productKeyworditem .btn-delete {
    margin-top: 10px;
}

.product-info {
    .label-info {
        font-weight: normal;
        font-size: 15px;
    }

    a.product-link {
        font-size: 15px;
        padding: 4px;
        background-color: #fff;
        border: 1px solid #dadada;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        position: fixed;
        bottom: 25px;
        left: 25px;
    }
}

.rate {
    display: inline-block;
    direction: ltr;
}

.bootstrap-timepicker {
    direction: ltr;

    .bootstrap-timepicker-widget table td input {
        width: 100%;
    }
}

.bootstrap-select.btn-group .dropdown-menu {
    z-index: 1000000;
}

.state,
.city {
    border: 1px solid #cfd8dc;
    color: #263238;
    font-size: 13px;
    height: 35px;
    padding: 0 10px;
    width: 272px;
    margin-left: 5px;
}

.city {
    margin: 10px 10px 0 5px;
}

.form-group {
    label {
        vertical-align: top;
    }
}

.varient-header {
    cursor: pointer;
}
