<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="OnlineStore" connectionString="Data Source=.; Database=OnlineStore; Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="PgwSite" value="https://bpm.shaparak.ir/pgwchannel/startpay.mellat" />
    <add key="TerminalId" value="" />
    <add key="UserName" value="" />
    <add key="UserPassword" value="" />
    <add key="CallBackUrl" value="http://online-store.com/BankResult" />
    <add key="BPService.PaymentGatewayImplService" value="https://bpm.shaparak.ir/pgwchannel/services/pgw" />

    <add key="InfoEmail" value="" />
    <add key="InfoPassword" value="" />

    <add key="EverySendUser" value="" />
    <add key="EverySendPassword" value="" />

    <add key="AsnafUser" value="" />
    <add key="AsnafPassword" value="" />
    <add key="AsnafSMSID" value="" />

  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="256" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
    <mailSettings>
      <smtp>
        <network host="http://mail.online-store.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <rewrite>
      <rules>
        <rule name="Redirection" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www\.online-store\.com" />

            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www\.online\.store" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="online\.store" />

            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="online-store\.ir" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www\.online-store\.ir" />

            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="OnlineStore\.ir" />
            <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www\.OnlineStore\.ir" />
          </conditions>
          <action type="Redirect" url="http://online-store.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
      <add name="UrlMapper" type="OnlineStore.Providers.HttpModules.UrlMapper" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="XmlFiles" path="*.xml" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <httpErrors errorMode="Custom" existingResponse="Replace">
      <!--<remove statusCode="404"></remove>
      <error statusCode="404" path="/404" responseMode="ExecuteURL"></error>-->

      <!--<remove statusCode="500"></remove>
      <error statusCode="500" path="/500" responseMode="ExecuteURL"></error>-->
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <resizer>
    <diskcache dir="~/Files/ImageCache" />
    <defaultsettings explicitSizeScaleMode="Both" maxSizeScaleMode="Both" />
    <plugins>
      <add name="DefaultSettings" />
      <add name="DiskCache" />
      <add name="SimpleFilters" />
    </plugins>
  </resizer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentGatewayImplServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentGatewayImplServiceSoapBinding1" />
        <binding name="WebserviceBinding" />
        <binding name="API_SMSServerBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://bpm.shaparak.ir/pgwchannel/services/pgw" binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplServiceSoapBinding" contract="BankMellat.IPaymentGateway" name="PaymentGatewayImplPort" />
      <endpoint address="http://panel.everysend.ir/webservice/server.asmx" binding="basicHttpBinding" bindingConfiguration="WebserviceBinding" contract="EverySend.WebservicePortType" name="WebservicePort" />
      <endpoint address="http://smspanel.118asnaf.com/Api-Services/sms_sender.php" binding="basicHttpBinding" bindingConfiguration="API_SMSServerBinding" contract="Asnaf118.API_SMSServerPortType" name="API_SMSServerPort" />
    </client>
  </system.serviceModel>
</configuration>