<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="API_SMSServerBinding" />
                <binding name="WebserviceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://smspanel.118asnaf.com/Api-Services/sms_sender.php"
                binding="basicHttpBinding" bindingConfiguration="API_SMSServerBinding"
                contract="Asnaf118.API_SMSServerPortType" name="API_SMSServerPort" />
            <endpoint address="http://panel.everysend.ir/index.php" binding="basicHttpBinding"
                bindingConfiguration="WebserviceBinding" contract="EverySend.WebservicePortType"
                name="WebservicePort" />
        </client>
    </system.serviceModel>
</configuration>