<div class="search-box">
    <input type="text" data-id="-1" class="form-control col-xs-8 input-text" autocomplete="off" name="q" id="Search" placeholder="جستجو مطالب...">
    <div class="result-box">
    </div>
    <input id="Url" type="hidden" value="@Model.Url" />
</div>

