@model GridViewSettings

@{
    var addUrl = (String.IsNullOrWhiteSpace(Model.AddUrl) ?
                    "/Admin/" + Model.ControllerName + "/Edit" :
                    Model.AddUrl);
}

@Html.Partial("_Loading")
<table class="table table-striped table-advance table-hover jconfigGrid">
    <thead>
        <tr>
            @if (Model.Selectable)
            {
                <th width="30px"></th>
            }
            <th width="30px">ردیف</th>
            @foreach (var item in Model.Columns)
            {
                <th>@item.Title</th>
            }
            <th>
                @if (Model.ShowAdd)
                {
                    <a href="@addUrl" class="btn btn-success btn-xs pull-left"><i class="icon-plus"></i></a>
                }
                @if (Model.CustomAjax)
                {
                    <a class="btn btn-success btn-xs pull-left btn-confirmed"><i class="icon-check"></i></a>
                }
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="row">
    <div class="col-sm-6">
        <label>
            <select class="form-control jPageSize">
                <option value="10">10</option>
                <option value="25" selected="selected">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </label>
    </div>
    <div class="col-sm-6">
        <div class="dataTables_paginate paging_bootstrap pagination jGridPaging">
            <ul></ul>
        </div>
    </div>
</div>

<script id="jConfigGridTemplate" type="text/jConfigGridTemplate">
    <tr data-id="{{ID}}">
        @if (Model.Selectable)
            {
            <td>
                <input type="checkbox" class="select-item" />
            </td>
        }
        <td>{{index}}</td>
        @foreach (var item in Model.Columns)
        {
            <td>{{@Html.Raw(item.DataField)}}</td>
        }
        <td class="text-left">
            @if (Model.Editable)
            {
                <a href="/Admin/@Model.ControllerName/Edit/{{ID}}" class="btn btn-primary btn-xs"><i class="icon-pencil"></i></a>
            }
            @if (Model.Deletable)
            {
                <button class="btn btn-danger btn-xs btn-jdelete"><i class="icon-trash"></i></button>
            }
        </td>
    </tr>
</script>