@{
    ViewBag.Title = "_SetTaskDate";
}

<form id="TaskDateForm" class="validate set-task-date" method="post">
    <div class="modal-body">
        <div class="form-group">
            <label for="TaskDate">تاریخ:</label>
            <input type="text" id="TaskDate" class="form-control persiandate">
        </div>
        <a class="btn btn-success">تایید</a>
    </div>
</form>
