@model EditProduct

<div class="row">
    <div class="col-md-6">
        <div id="ProductAttributesLoading" style="display: none;"><img src="~/images/loading.gif" /></div>
        <div id="ProductAttributes">
            <p>لطفا گروه را انتخاب نمایید.</p>
        </div>
    </div>
</div>
