@{
    ViewBag.Title = "مدیریت تولید کنندگان";
}
<fieldset class="filter-box">
    <legend>
        <a class="filter-header">
            <i class="open-icon icon icon-plus-sign"></i>
            <span>جستجو</span>
        </a>
    </legend>
    <div class="control-box">
        <div class="row form-group">
            <input type="text" id="Title" class="form-control col-sm-2" placeholder="عنوان..." />
            <a id="btnSearch" class="btn btn-info"><i class="icon-search"></i></a>
        </div>
    </div>
</fieldset>

@Html.Partial("_GridView", new GridViewSettings()
{
    ControllerName = "Producers",
    Columns = new List<Column>(){
                                   new Column() {
                                       Title = "عنوان",
                                       DataField = "Title"
                                   },
                                   new Column() {
                                       Title = "عنوان انگلیسی",
                                       DataField = "TitleEn"
                                   },
                                   new Column() {
                                       Title = "گروه ها",
                                       DataField = "GroupsTitle"
                                   },
                                   new Column() {
                                       Title = "تصویر",
                                       DataField = "toLink(Filename)"
                                   },
                                   new Column() {
                                       Title = "قابل نمایش",
                                       DataField = "toBooleanYesNo(IsVisible)"
                                   },
                                   new Column() {
                                       Title = "ترتیب نمایش",
                                       DataField = "OrderID"
                                   },
                                   new Column() {
                                       Title = "آخرین ویرایش",
                                       DataField = "fromNow(LastUpdate)"
                                   }
                               }
})

@section Scripts {
    <script type="text/javascript">
        var $title = $('#Title');

        jConfigGrid.init({
            ajaxUrl: '/Admin/Producers/',
            filter: function () {
                return { Title: $title.val() }
            },
            customAjaxSuccess: function () {
                jConfigGrid.refresh();
            },
        });
    </script>
}
