<div style="background-color:#eceff1;color:#263238;border-top:solid 5px #ff3d00;font-family:Tahoma;font-size:12px;direction: rtl;font-weight: normal;padding:15px">
    <a href="{{WebsiteUrl}}">
        <img src="{{WebsiteUrl}}/images/EmailTemplate/headerlogo.jpg" style="margin:0 auto;display:block" />
    </a>
    <div style="border:solid 1px #cfd8dc;border-bottom-color:#ff3d00;margin:15px 5px 5px;">
        <div style="background-color:#546e7a">
            <ul style="margin:0;height:40px;padding-right:15px">
                <li style="float:right;margin:10px;list-style-type:none"><a style="font:12px tahoma;text-decoration:none;display:inline-block;color:#ffb300" href="http://online-store.com#Offers">پیشنهاد ویژه</a></li>
                <li style="float:right;margin:10px;list-style-type:none"><a style="font:12px tahoma;text-decoration:none;display:inline-block;color:#eceff1" href="http://online-store.com/Products/Mobile-Phones">موبایل</a></li>
                <li style="float:right;margin:10px;list-style-type:none"><a style="font:12px tahoma;text-decoration:none;display:inline-block;color:#eceff1" href="http://online-store.com/Products/Tablets">تبلت</a></li>
                <li style="float:right;margin:10px;list-style-type:none"><a style="font:12px tahoma;text-decoration:none;display:inline-block;color:#eceff1" href="http://online-store.com/Products/Cameras">دوربین</a></li>
                <li style="float:right;margin:10px;list-style-type:none"><a style="font:12px tahoma;text-decoration:none;display:inline-block;color:#eceff1" href="http://online-store.com/Products/Mobile-Phone-Accessories">لوازم جانبی</a></li>
                <li style="float:right;margin:10px;list-style-type:none"><a style="font:12px tahoma;text-decoration:none;display:inline-block;color:#eceff1" href="http://online-store.com/Products/Phones-Faxes">تلفن و فکس</a></li>
                <li style="float:right;margin:10px;list-style-type:none"><a style="font:12px tahoma;text-decoration:none;display:inline-block;color:#eceff1" href="http://online-store.com/Products/Car-Audio">سیستم صوتی خودرو</a></li>
                <li style="float:right;margin:10px;list-style-type:none"><a style="font:12px tahoma;text-decoration:none;display:inline-block;color:#eceff1" href="http://online-store.com">و ...</a></li>
            </ul>
            <div style="clear:both">
            </div>
        </div>
        <div style="background-color:#fff;padding:15px 15px 0;font:12px/25px tahoma">
            <div>
                {{Body}}
            </div>
            <div style="margin-top:10px;border-top:solid 1px #cfd8dc;padding:10px">
                <a href="{{WebsiteUrl}}" style="text-decoration:none;display:inline-block;color:#263238">
                    <img src="{{WebsiteUrl}}/images/EmailTemplate/footerlogo.jpg" />
                    <span style="display:inline-block;margin:10px 5px;vertical-align:top">
                        با تشکر،<br />
                        فروشگاه اینترنتی آنلاین استور
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div style="text-align:center;line-height:25px;">
        <span>
            هرجایی که هستید می تونید ما رو دنبال کنید...
        </span>
        <ul style="padding:0;margin:5px 0;height:25px">
            <li style="display:inline-block;margin:0 2px;list-style-type:none"><a href="#"><img src="{{WebsiteUrl}}/images/EmailTemplate/linkedin.jpg" /></a></li>
            <li style="display:inline-block;margin:0 2px;list-style-type:none"><a href="#"><img src="{{WebsiteUrl}}/images/EmailTemplate/twitter.jpg" /></a></li>
            <li style="display:inline-block;margin:0 2px;list-style-type:none"><a href="#"><img src="{{WebsiteUrl}}/images/EmailTemplate/facebook.jpg" /></a></li>
            <li style="display:inline-block;margin:0 2px;list-style-type:none"><a href="#"><img src="{{WebsiteUrl}}/images/EmailTemplate/instageram.jpg" /></a></li>
            <li style="display:inline-block;margin:0 2px;list-style-type:none"><a href="#"><img src="{{WebsiteUrl}}/images/EmailTemplate/cloob.jpg" /></a></li>
            <li style="display:inline-block;margin:0 2px;list-style-type:none"><a href="#"><img src="{{WebsiteUrl}}/images/EmailTemplate/facenama.jpg" /></a></li>
            <li style="display:inline-block;margin:0 2px;list-style-type:none"><a href="#"><img src="{{WebsiteUrl}}/images/EmailTemplate/aparat.jpg" /></a></li>
            <li style="display:inline-block;margin:0 2px;list-style-type:none"><a href="#"><img src="{{WebsiteUrl}}/images/EmailTemplate/googleplus.jpg" /></a></li>
            <li style="display:inline-block;margin:0 2px;list-style-type:none"><a href="#"><img src="{{WebsiteUrl}}/images/EmailTemplate/telegram.jpg" /></a></li>
            <li style="display:inline-block;margin:0 2px;list-style-type:none"><a href="#"><img src="{{WebsiteUrl}}/images/EmailTemplate/rss.jpg" /></a></li>
        </ul>
        <span>
            کلیه حقوق برای فروشگاه اینترنتی آنلاین استور محفوظ است.<br />
            {{Address}}<br />
            تلفن: <span style="direction:ltr;display:inline-block">{{Phone}}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            ایمیل: {{Email}}
        </span>
    </div>
    <div style="clear:both">
    </div>
</div>
