با سلام،
کاربر عزیز، دوست شما {{Name}} بازدید محصول ذیل را به شما پیشنهاد داده اند:
<div style="margin-top:10px">
    {{Message}}
    <img src="{{Image}}" style="float:right" />
    <div style="padding:10px;margin:10px 0;font-weight:bold;color:#263238;float:right">
        <a href="{{ProductLink}}" target="_blank" style="text-decoration:none"><span style="color: #263238;font-size: 18px;">{{DisplayTitle}}</span></a>
        <a href="{{ProductLink}}" target="_blank" style="text-decoration:none"><span style="color: #78909c;font-size:14px;margin-bottom:8px">{{OtherTitle}}</span></a>
        {{PriceBox}}
        <a href="{{ProductLink}}" target="_blank" style="color: #fff;font-size: 13px;height: 45px;line-height: 45px;padding: 0 20px;background-color:#ff3d00;text-decoration:none;display:inline-block;">نمایش محصول</a>
    </div>
    <div style="clear:both"></div>
</div>
<div style="clear:both"></div>
