<div class="row">
    <label for="Firstname">نام</label>
    <input id="Firstname" name="Firstname" type="text" placeholder="نام" class="required" maxlength="50">
</div>
<div class="row">
    <label for="Lastname">نام خانوادگی</label>
    <input id="Lastname" name="Lastname" type="text" placeholder="نام خانوادگی" class="required" maxlength="50">
</div>
<div class="row">
    <label for="Email">پست الکترونیک</label>
    <input id="Email" name="Email" type="text" placeholder="پست الکترونیک" class="required email" maxlength="256">
</div>
<div class="row">
    <label for="Mobile">تلفن همراه</label>
    <input id="Mobile" name="Mobile" type="text" placeholder="تلفن همراه" class="required number" maxlength="50">
</div>
<div class="row">
    <label for="Phone">تلفن ثابت</label>
    <input id="Phone" name="Phone" type="text" placeholder="شماره تماس" class="required number" maxlength="50">
</div>

